<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deff83.indexAPI" >
	<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		>
		<service 
			android:enabled="true" 
			android:name=".PlayService"> 
		</service> 
		<receiver
			android:name=".MessageReceiver"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="CAT" />
			</intent-filter>
		</receiver>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name=".OpovActivity"
            android:label="@string/app_name" >
		</activity>
		<activity
            android:name=".Userfunction"
            android:label="@string/app_name" >
		</activity>
		<activity
            android:name=".Setting"
            android:label="@string/app_name" >
		</activity>
		
		<activity 
			android:name=".Buy_dialog"
			android:label="@string/buy_dialog"
			android:theme="@style/Dialog"
			android:excludeFromRecents="true"
			>
		</activity>
		<activity 
			android:name=".Functred_dialog"
			android:label="@string/buy_dialog"
			android:theme="@style/Dialog"
			android:excludeFromRecents="true"
		>
		</activity>
		<activity 
			android:name=".LoginActivity"
			android:label="@string/login_activ"
			android:theme="@style/App_Theme2"
			android:excludeFromRecents="true"
		>
		</activity>
    </application>

</manifest>
